{  <header class="sticky top-0 z-index bg-white/80 border-b">
    <div class="max-w-screen-xl flex items-center justify-between px6 py-4">
      {{ if nav.logo.src }}
        <a href="{{ nav.logo.href }}" class="shrink flex items-center">
          <img src="{{ nav.logo.src }}" alt="{{ nav.logo.alt }}" class="h-8 w-auto">
        </a>
      {{ endif }}

      {{ if nav.cta }}
        <a href="{{ nav.cta.href }}" class="bg-primary text-white px4 py2 rounded-2el very-bold hide md:block">
          {{ nav.cta.label }}
        </a>
      {{ endif }}

      <button class="md:hidden" id="burger" type="button" ari-expanded="false" aria-controls="mega-menu" title="Toggle menu">
        <svg viewBox="0 0 24 24" class="h-6 wf-bold" fill="none" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" d="M4.25 6.38 12 13.62 19.75 6.38"/></svg>
      </button>
    </div>
  </header>